* {
    margin: 0;
    padding: 0;
}

:root {
    --navy: navy;
    --bg: #f8f7f7;
    --header: #3186a7;
    --textcolor: #2a2b30;
}

body {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: var(--bg);
    color: var(--textcolor);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    justify-content: baseline;
    margin-top: 10px;
}

h2  {
    margin-top: 30px;
}

header {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: var(--header);
}

li {
    display: inline;
    padding: 20x;
    justify-content: space-around;
    align-items: flex-end;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    margin-top: 80px;
    justify-content: center;
}

section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-top: 3px solid #22f0df;
    background-color: var(--bg);
}

nav ul li {
    text-align: center;
    justify-content: flex-start;
    flex: auto;
    flex-wrap: wrap;
}
/* Class Selectors */
.text-center {
    text-align: center;
    text-decoration-style: wavy;
}

span {
    color: #ffba52;
}

.text-right {
    text-align: right;
    justify-content: space-between;
}

#contact {
    flex-wrap: wrap;
    flex: auto;
    margin-top: 30px;
}

form {
    margin-top: 30px;
    flex: auto;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}