* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navy: navy;
    --bg: #f8f7f7;
    --header: #3186a7;
    --textcolor: #2a2b30;
    --fontstyle: "Noto Sans JP", bolder;
}

div.jumbotron.jumobtron-fluid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
  }

  