/* Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* Custom elements applied throughout */
:root {
    --navy: navy;
    --bg: #f8f7f7;
    --header: #3186a7;
    --textcolor: #2a2b30;
    --fontstyle: "Noto Sans JP", bolder;

}

body {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: var(--bg);
    color: var(--textcolor);
}

a.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly, space-between;
}

/* Emphasizing style */
span {
    color: #68048f;
    font-weight: bolder;
    text-shadow: 2px 1px 4px #149c91;
}


h1 {
    font-family: var(--fontstyle),Arial, Helvetica, sans-serif;
    font-size: 50px;
    justify-content: baseline;
    margin-top: 10px;
    font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 8px var(--header);
    text-decoration: underline;
}

h2  {
    margin-top: 100px;
}

header {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: var(--header);
}

main {
    flex: auto;

}

li {
    display: inline;
    padding: 20x;
    justify-content: space-around;
    align-items: flex-end;
    list-style-type: square;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    margin-top: 20px;
    justify-content: center;
}

section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-top: 3px solid #22f0df;
    background-color: var(--bg);
}

nav ul li {
    text-align: center;
    justify-content: flex-start;
    flex: auto;
    flex-wrap: wrap;
    list-style-type: circle;
}

ul::marker {
    list-style-type: circle;
}

form {
    margin-top: 30px;
    flex: auto;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

footer {
    display: flex;
}

/* Class and ID Selectors */
.icon {
    flex: auto;
    border-radius: 10px;
    height: 300px;
    width: 825px;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: var(--header), gray;
    
    
}

/* Class for image seperating content */
.matrix {
    flex: auto;
    margin-top: 64px;
    width: 100%;
    height: 300px;
    
}

#about-me {
    font-family: var(--fontstyle);
    font-weight: bolder;
    font-size: 30px;
    padding: 30px;
    text-shadow: 2px 2px 8px var(--header);
    text-decoration: underline;
}

.work-list {
    text-align: left;
    justify-content: flex-start;
    flex: auto;
    flex-wrap: wrap;
    margin-top: 20px;
    list-style-type: circle;

}

/* Class for h1 heading */
.text-left {
    text-align: center;
    text-decoration-style: wavy;
    text-shadow: 2px 2px 8px var(--header);
    text-decoration: underline;
}

/* Class for the h2 contact me heading */
.text-center {
    flex: auto;
    justify-content: flex-start;
    margin-left: 30px;
    text-shadow: 2px 2px 8px var(--header);
    text-decoration: underline;
    font-size: 30px;
}

/* Class for the first nav links */
.text-right {
    text-align: right;
    justify-content: space-evenly;
}

#my-work {
    font-family: var(--fontstyle), Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    padding: 30px;
    text-shadow: 2px 2px 8px var(--header);
    text-decoration: underline;
}

.horiseon {
    margin-top: 10px;
    flex: auto;
    height: 200px;
    width: 400px;
    box-shadow: black, darkslategray, grey;
}

#contact {
    flex-wrap: wrap;
    flex: auto;
    margin-top: 30px;
    
}

#email {
    margin-left: -6px;
}

.submit {
    align-items: center;
    margin-top: 10px;
    margin-left: 30px;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }


